<header id="header">
  <h1 href="<%- url_for() %>" id="logo">
    <img src="<%= theme.logo %>" />
    胖达
  </h1>
  <menu>
    <ul>
      <% for (var i in theme.menu){ %>
      <li><a href="<%- url_for(theme.menu[i]) %>"><%= __(i) %></a></li>
      <% } %>
    </ul>
  </menu>
</header>