<% var last; %>
<% page.posts.each(function(post, i){ %>
  <% var year = post.date.year(); %>
  <div class="tags">
  <%- partial('tag', {post: post, even: i % 2 == 0}) %>
  <% }) %>
  <% if (page.posts.length){ %>
  </div>
  <% } %>
  