@font-face {
    font-family: "panda";
    src: url('../wawati-w5.ttf') format('truetype');
}

#container
    font-family: "panda"
    font-size: 1.25rem
    width: 80%
    margin: 0 auto
    a
        color: #000
        text-decoration: none


    #header
        margin: 2rem 0
    #logo
        font-size: 3rem
        > *
            vertical-align: middle
        img
            width: 8rem
            margin: 0 1.5rem 2.5rem 0

    .article
        overflow: hidden
        .article-meta
            margin-bottom: 1.5rem
        width: 85%
        margin: 0 auto 2rem
        background: #eee
        border-radius: .5rem
        padding: 2rem
        h1[itemprop="name"]
            font-size: 1rem
            font-weight: normal
        .borned
            font-size: 2rem
        p
            line-height: 2
            text-align: center
        .photos-1
            width: 35vw
            margin: auto
            img
                width: 100%
        img
            margin: 1rem
            width: 20vw
            background: #ddd
            border: 1rem solid #fff
            box-shadow: 0 0 1rem rgba(0,0,0,.5)
            border-bottom-width: 4rem
        time
            display: block
            font-size: 1rem
            color: grey

#page-nav
    text-align:center
    .page-number
        display: inline-block
        width: 1rem
        height: 1rem
        padding: 1rem
        line-height: 1rem
        border-radius: 100%
        margin: 0 .25rem
        background: #000
        border: 1px solid #000
        color: #fff
    .current
        background: #fff
        color: #000

@media screen and (max-width: 640px)
    #container .article
        [class^=photo]
            width: 100%
        img
            width: 100%
            margin: 1rem 0
            