#container
    font-family: "Wawati SC"
    font-size: 1.25rem
    width: 80%
    margin: 0 auto
    a
        color: #000
        text-decoration: none


    #header
        margin: 2rem 0
    #logo
        font-size: 3rem
        > *
            vertical-align: middle
        img
            width: 8rem
            margin: 0 1.5rem 2.5rem 0

    .article
        overflow: hidden
        .article-meta
            margin-bottom: 1.5rem
        width: 85%
        margin: 0 auto 2rem
        background: #eee
        border-radius: 1rem
        padding: 2rem
        h1[itemprop="name"]
            font-size: 1rem
            font-weight: normal
        .borned
            font-size: 2rem
        p
            line-height: 2
            text-align: center
        a
            color: #f9804c
            text-decoration: underline
        img
            margin: 1rem
            width: 20vw
            background: #ddd