<figure class="panda-banner">
    <div class="img-wrapper">
        <img src="http://images.dsphoebe.com/panda-20171228-2.jpeg" alt="">
    </div>
    <figcaption>
        <h1>胖达</h1>
        <ul>
            <li>男</li>
            <li>9个月</li>
            <li>22斤</li>
            <li>77cm</li>
            <li>最爱吃手机</li>
            <li>爱侧卧</li>
        </ul>
    </figcaption>
</figure>