<div class="checkin">
  <h1 class="v-1-index-title">签到</h1>
  <div class="imgs">
    <img src="http://images.dsphoebe.com/checkin-bj.jpg" class="bj">
    <img src="http://images.dsphoebe.com/checkin-cc.jpg" class="cc">
  </div>
  <ul>
    <li>北京
      <ul>
        <li>天坛医院妇产科</li>
        <li>芍药居5号院</li>
        <li>永和大王</li>
        <li>对外经贸大学</li>
        <li>太阳宫社区医院</li>
        <li>未来广场</li>
        <li>太阳宫凯德Mall</li>
        <li>互联网金融中心</li>
        <li>中国照相馆</li>
      </ul>
    </li>
    <li>
      长春
      <ul>
        <li>春草路</li>
        <li>长春公园</li>
      </ul>
    </li>
  </ul>
</div>