<div class="checkin">
  <h1 class="v-1-index-title">签到</h1>
  <div class="imgs">
    <img src="http://images.dsphoebe.com/checkin-bj.jpg" class="bj">
    <img src="http://images.dsphoebe.com/checkin-cc.jpg" class="cc">
  </div>
</div>