<%
    var guardians = [{
        name: '爸爸',
        image: 'http://images.dsphoebe.com/baba-1.jpeg',
        desc: 'BYL的爸爸'
    }, {
        name: '妈妈',
        image: 'http://images.dsphoebe.com/mama.jpeg',
        desc: '温柔可爱de妈妈'
    }, {
        name: '三姨',
        image: 'http://images.dsphoebe.com/aunt3.jpeg',
        desc: '我三姨'
    }, {
        name: '大姨',
        image: 'http://images.dsphoebe.com/aunt1.png',
        desc: '我大姨'
    }, {
        name: '武姨',
        image: 'http://images.dsphoebe.com/wuyi-1.jpeg',
        desc: '武姨'
    }]
%>
<div class="guardians">
    <h1 class="v-1-index-title">我的护卫队</h1>
    <ul>
    <% for (i in guardians) {%>
        <li>
            <img src="<%= guardians[i].image%>" />
            <span class="name"><%= guardians[i].desc%></span>
        </li>
    <% } %>
    </ul>
</div>